tensorflow==2.15.0
pandas==2.2.2
dvc
mlflow==2.12.1
setuptools
notebook
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
python-box==7.2.0
colorlog
PyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy==1.13.1

fastapi
uvicorn
jinja2
python-multipart

gdown
gunicorn
boto3
dagshub

-e .